.warn {
    font-family: "Barlow Condensed";
    color: rgb(255, 255, 255);
    font-style: italic;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgb(105, 196, 44);
    font-size: large;
    text-align: center;
}

.bienvenue {
    font-family: "Barlow Condensed";
    text-align: center;
    
}

header {
    background-color: beige;
    margin-top: 0px;
    margin-bottom: 0px;

    .navigation {
        position: relative;
        font-family: "Barlow Condensed";
        color: #b92eff;
        padding-left: 80%;
        display: inline-block;
    } 
}


body {
    background: rgb(158, 238, 129) 0%;
    background: linear-gradient(90deg, rgb(158, 238, 129) 0%, rgb(232, 226, 172) 100%);
}

.photo-moi {
    float: left;
    width: 50vh;
    padding: 10px;
    margin-right: 15px;
    border-radius: 25px;
}

.a-propos {
    font-family: "Barlow Condensed";
    padding: 20px;
    line-height: 1.25rem;
}